/* Tree container */
.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }
  
  .tree li {
    float: left; /* Align horizontally */
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }
  
  /* Lines between nodes */
  .tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
  }
  
  .tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
  }
  
  /* Removing lines from leaf nodes */
  .tree li:only-child::after, .tree li:only-child::before {
    display: none;
  }
  
  /* Connects the parent node to the child node */
  .tree li:only-child {
    padding-top: 0;
  }
  
  /* Display nodes */
  .tree li > .node {
    border: 1px solid #ccc;
    padding: 5px 10px;
    display: inline-block;
    color: #666;
    border-radius: 5px;
    transition: all 0.5s;
    font-weight: bold;
  }
  
  /* Vertical line */
  .tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
  }
  